<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenpu.proxy.verify.mapper.BeneMapper">
  <resultMap id="BaseResultMap" type="com.shenpu.proxy.verify.domain.Bene">
    <result column="bene_id" jdbcType="VARCHAR" property="beneId" />
    <result column="policy_no" jdbcType="VARCHAR" property="policyNo" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="apply_no" jdbcType="VARCHAR" property="applyNo" />
    <result column="bene_name" jdbcType="VARCHAR" property="beneName" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday" />
    <result column="id_type" jdbcType="VARCHAR" property="idType" />
    <result column="id_no" jdbcType="VARCHAR" property="idNo" />
    <result column="occupation" jdbcType="VARCHAR" property="occupation" />
    <result column="occupation_name" jdbcType="VARCHAR" property="occupationName" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="zip_code" jdbcType="VARCHAR" property="zipCode" />
    <result column="nativeplace" jdbcType="VARCHAR" property="nativeplace" />
    <result column="prov_id" jdbcType="VARCHAR" property="provId" />
    <result column="city_id" jdbcType="VARCHAR" property="cityId" />
    <result column="county_id" jdbcType="VARCHAR" property="countyId" />
    <result column="map_coordinates" jdbcType="VARCHAR" property="mapCoordinates" />
    <result column="marriage" jdbcType="CHAR" property="marriage" />
    <result column="benefit_relation" jdbcType="VARCHAR" property="benefitRelation" />
    <result column="year_incom" jdbcType="VARCHAR" property="yearIncom" />
    <result column="height" jdbcType="VARCHAR" property="height" />
    <result column="weight" jdbcType="VARCHAR" property="weight" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="insert_time" jdbcType="VARCHAR" property="insertTime" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="bene_grade" jdbcType="VARCHAR" property="beneGrade" />
    <result column="bene_type" jdbcType="VARCHAR" property="beneType" />
    <result column="id_type_name" jdbcType="VARCHAR" property="idTypeName" />
    <result column="marriage_name" jdbcType="VARCHAR" property="marriageName" />
    <result column="benefit_relation_name" jdbcType="VARCHAR" property="benefitRelationName" />
    <result column="county_id_name" jdbcType="VARCHAR" property="countyIdName" />
    <result column="city_id_name" jdbcType="VARCHAR" property="cityIdName" />
    <result column="prov_id_name" jdbcType="VARCHAR" property="provIdName" />
    <result column="nativeplace_name" jdbcType="VARCHAR" property="nativeplaceName" />
  </resultMap>
  <sql id="Base_Column_List">
    bene_id, policy_no, order_no, apply_no, bene_name, sex, age, birthday, id_type, id_no, 
    occupation, occupation_name, mobile, email, zip_code, nativeplace, prov_id, city_id, 
    county_id, map_coordinates, marriage, benefit_relation, year_incom, height, weight, 
    status, insert_time, update_time, bene_grade, bene_type, id_type_name, marriage_name, 
    benefit_relation_name, county_id_name, city_id_name, prov_id_name, nativeplace_name
  </sql>
  <insert id="insert" parameterType="com.shenpu.proxy.verify.domain.Bene">
    insert into syb_bene (bene_id, policy_no, order_no, 
      apply_no, bene_name, sex, 
      age, birthday, id_type, 
      id_no, occupation, occupation_name, 
      mobile, email, zip_code, 
      nativeplace, prov_id, city_id, 
      county_id, map_coordinates, marriage, 
      benefit_relation, year_incom, height, 
      weight, status, insert_time, 
      update_time, bene_grade, bene_type, 
      id_type_name, marriage_name, benefit_relation_name, 
      county_id_name, city_id_name, prov_id_name, 
      nativeplace_name)
    values (#{beneId,jdbcType=VARCHAR}, #{policyNo,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, 
      #{applyNo,jdbcType=VARCHAR}, #{beneName,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, 
      #{age,jdbcType=INTEGER}, #{birthday,jdbcType=VARCHAR}, #{idType,jdbcType=VARCHAR}, 
      #{idNo,jdbcType=VARCHAR}, #{occupation,jdbcType=VARCHAR}, #{occupationName,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{zipCode,jdbcType=VARCHAR}, 
      #{nativeplace,jdbcType=VARCHAR}, #{provId,jdbcType=VARCHAR}, #{cityId,jdbcType=VARCHAR}, 
      #{countyId,jdbcType=VARCHAR}, #{mapCoordinates,jdbcType=VARCHAR}, #{marriage,jdbcType=CHAR}, 
      #{benefitRelation,jdbcType=VARCHAR}, #{yearIncom,jdbcType=VARCHAR}, #{height,jdbcType=VARCHAR}, 
      #{weight,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{insertTime,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=VARCHAR}, #{beneGrade,jdbcType=VARCHAR}, #{beneType,jdbcType=VARCHAR}, 
      #{idTypeName,jdbcType=VARCHAR}, #{marriageName,jdbcType=VARCHAR}, #{benefitRelationName,jdbcType=VARCHAR}, 
      #{countyIdName,jdbcType=VARCHAR}, #{cityIdName,jdbcType=VARCHAR}, #{provIdName,jdbcType=VARCHAR}, 
      #{nativeplaceName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shenpu.proxy.verify.domain.Bene">
    insert into syb_bene
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="beneId != null">
        bene_id,
      </if>
      <if test="policyNo != null">
        policy_no,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="applyNo != null">
        apply_no,
      </if>
      <if test="beneName != null">
        bene_name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="idType != null">
        id_type,
      </if>
      <if test="idNo != null">
        id_no,
      </if>
      <if test="occupation != null">
        occupation,
      </if>
      <if test="occupationName != null">
        occupation_name,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="zipCode != null">
        zip_code,
      </if>
      <if test="nativeplace != null">
        nativeplace,
      </if>
      <if test="provId != null">
        prov_id,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="countyId != null">
        county_id,
      </if>
      <if test="mapCoordinates != null">
        map_coordinates,
      </if>
      <if test="marriage != null">
        marriage,
      </if>
      <if test="benefitRelation != null">
        benefit_relation,
      </if>
      <if test="yearIncom != null">
        year_incom,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="beneGrade != null">
        bene_grade,
      </if>
      <if test="beneType != null">
        bene_type,
      </if>
      <if test="idTypeName != null">
        id_type_name,
      </if>
      <if test="marriageName != null">
        marriage_name,
      </if>
      <if test="benefitRelationName != null">
        benefit_relation_name,
      </if>
      <if test="countyIdName != null">
        county_id_name,
      </if>
      <if test="cityIdName != null">
        city_id_name,
      </if>
      <if test="provIdName != null">
        prov_id_name,
      </if>
      <if test="nativeplaceName != null">
        nativeplace_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="beneId != null">
        #{beneId,jdbcType=VARCHAR},
      </if>
      <if test="policyNo != null">
        #{policyNo,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="applyNo != null">
        #{applyNo,jdbcType=VARCHAR},
      </if>
      <if test="beneName != null">
        #{beneName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=CHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="idType != null">
        #{idType,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null">
        #{idNo,jdbcType=VARCHAR},
      </if>
      <if test="occupation != null">
        #{occupation,jdbcType=VARCHAR},
      </if>
      <if test="occupationName != null">
        #{occupationName,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="zipCode != null">
        #{zipCode,jdbcType=VARCHAR},
      </if>
      <if test="nativeplace != null">
        #{nativeplace,jdbcType=VARCHAR},
      </if>
      <if test="provId != null">
        #{provId,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=VARCHAR},
      </if>
      <if test="countyId != null">
        #{countyId,jdbcType=VARCHAR},
      </if>
      <if test="mapCoordinates != null">
        #{mapCoordinates,jdbcType=VARCHAR},
      </if>
      <if test="marriage != null">
        #{marriage,jdbcType=CHAR},
      </if>
      <if test="benefitRelation != null">
        #{benefitRelation,jdbcType=VARCHAR},
      </if>
      <if test="yearIncom != null">
        #{yearIncom,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        #{height,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="beneGrade != null">
        #{beneGrade,jdbcType=VARCHAR},
      </if>
      <if test="beneType != null">
        #{beneType,jdbcType=VARCHAR},
      </if>
      <if test="idTypeName != null">
        #{idTypeName,jdbcType=VARCHAR},
      </if>
      <if test="marriageName != null">
        #{marriageName,jdbcType=VARCHAR},
      </if>
      <if test="benefitRelationName != null">
        #{benefitRelationName,jdbcType=VARCHAR},
      </if>
      <if test="countyIdName != null">
        #{countyIdName,jdbcType=VARCHAR},
      </if>
      <if test="cityIdName != null">
        #{cityIdName,jdbcType=VARCHAR},
      </if>
      <if test="provIdName != null">
        #{provIdName,jdbcType=VARCHAR},
      </if>
      <if test="nativeplaceName != null">
        #{nativeplaceName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="insertBatch" parameterType="java.util.List">
	insert into syb_bene 
	(bene_id, policy_no, order_no, 
      apply_no, bene_name, sex, 
      age, birthday, id_type, 
      id_no, occupation, occupation_name, 
      mobile, email, zip_code, 
      nativeplace, prov_id, city_id, 
      county_id, map_coordinates, marriage, 
      benefit_relation, year_incom, height, 
      weight, status, insert_time, 
      update_time, bene_grade, bene_type, 
      id_type_name, marriage_name, benefit_relation_name, 
      county_id_name, city_id_name, prov_id_name, 
      nativeplace_name
      )
    values 
    	<foreach collection="list" item="item" index="index"
			separator=", ">
	    (
	      #{item.beneId,jdbcType=VARCHAR}, #{item.policyNo,jdbcType=VARCHAR}, #{item.orderNo,jdbcType=VARCHAR}, 
	      #{item.applyNo,jdbcType=VARCHAR}, #{item.beneName,jdbcType=VARCHAR}, #{item.sex,jdbcType=CHAR}, 
	      #{item.age,jdbcType=INTEGER}, #{item.birthday,jdbcType=VARCHAR}, #{item.idType,jdbcType=VARCHAR}, 
	      #{item.idNo,jdbcType=VARCHAR}, #{item.occupation,jdbcType=VARCHAR}, #{item.occupationName,jdbcType=VARCHAR}, 
	      #{item.mobile,jdbcType=VARCHAR}, #{item.email,jdbcType=VARCHAR}, #{item.zipCode,jdbcType=VARCHAR}, 
	      #{item.nativeplace,jdbcType=VARCHAR}, #{item.provId,jdbcType=VARCHAR}, #{item.cityId,jdbcType=VARCHAR}, 
	      #{item.countyId,jdbcType=VARCHAR}, #{item.mapCoordinates,jdbcType=VARCHAR}, #{item.marriage,jdbcType=CHAR}, 
	      #{item.benefitRelation,jdbcType=VARCHAR}, #{item.yearIncom,jdbcType=VARCHAR}, #{item.height,jdbcType=VARCHAR}, 
	      #{item.weight,jdbcType=VARCHAR}, #{item.status,jdbcType=VARCHAR}, #{item.insertTime,jdbcType=VARCHAR}, 
	      #{item.updateTime,jdbcType=VARCHAR}, #{item.beneGrade,jdbcType=VARCHAR}, #{item.beneType,jdbcType=VARCHAR}, 
	      #{item.idTypeName,jdbcType=VARCHAR}, #{item.marriageName,jdbcType=VARCHAR}, #{item.benefitRelationName,jdbcType=VARCHAR}, 
	      #{item.countyIdName,jdbcType=VARCHAR}, #{item.cityIdName,jdbcType=VARCHAR}, #{item.provIdName,jdbcType=VARCHAR}, 
	      #{item.nativeplaceName,jdbcType=VARCHAR}
	     )
		</foreach>
	</insert>
  <select id="selectByApplyNo" parameterType="String" resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from syb_bene
	    where apply_no = #{applyNo}  
	  </select>

</mapper>