<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shenpu.proxy.pay.mapper.OrderMapper">

	<resultMap id="BaseResultMap" type="com.shenpu.proxy.pay.domain.Order">
		<id column="body" property="body" jdbcType="VARCHAR" />
		<result column="payplatformname" property="payplatformname"
			jdbcType="VARCHAR" />
		<result column="paytype" property="paytype" jdbcType="VARCHAR" />
		<result column="totalfee" property="totalfee" jdbcType="VARCHAR" />
		<result column="orderno" property="orderno" jdbcType="VARCHAR" />
		<result column="notify_url" property="notify_url" jdbcType="VARCHAR" />
		<result column="pay_success_url" property="pay_success_url"
			jdbcType="VARCHAR" />
		<result column="nonce_str" property="nonce_str" jdbcType="VARCHAR" />
		<result column="sign" property="sign" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		body, payplatformname, paytype, totalfee,
		orderno,
		notify_url,pay_success_url, nonce_str,sign,status
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_order
		where orderno = #{orderno,jdbcType=VARCHAR}
	</select>

	<!-- <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		t_order
		where orderno = #{orderno,jdbcType=VARCHAR}
	</delete> -->


	<insert id="insert" parameterType="com.shenpu.proxy.pay.domain.Order">
		insert into t_order
		(body, payplatformname, paytype, totalfee,
		orderno,
		notify_url,pay_success_url, nonce_str, sign, status,
		createtime,remark)
		values
		(#{body,jdbcType=VARCHAR},
		#{payplatformname,jdbcType=VARCHAR},
		#{paytype,jdbcType=VARCHAR},
		#{totalfee,jdbcType=VARCHAR},
		#{orderno,jdbcType=VARCHAR},
		#{notify_url,jdbcType=VARCHAR},
		#{pay_success_url,jdbcType=VARCHAR},
		#{nonce_str,jdbcType=VARCHAR},
		#{sign,jdbcType=VARCHAR},
		#{status,jdbcType=VARCHAR},
		unix_timestamp(),
		remark = #{remark}
		)
	</insert>
	<update id="updateOrderState" parameterType="com.shenpu.proxy.pay.domain.Order">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		update t_order
		set status = #{status,jdbcType=VARCHAR}
		where
		orderno = #{orderno,jdbcType=VARCHAR}
	</update>
</mapper>